.card {
  width: 22em;
  height: 22em;
  margin-left: 70%;

  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #672078) 1;
  animation: 10s rotate linear infinite;
  border-radius: 20px !important;
}
.card-img-top:hover {
  box-shadow: 0 0 10px 1px #12c2e9;
}
.card:hover {
}
.project {
  position: relative;
}
.desc {
  position: absolute;
  width: 100%;
  right: -650px;
  top: 0px;
  font-size: 20px;
  line-height: 2;
}
.card-text {
  width: 100%;
  color: gray;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
