.icon {
  height: 3em;
}
.contactPage {
  margin-top: 5%;
}
@media (min-width: 576px) {
  /* Phones*/
  .contactPage {
    margin-top: 5%;
  }
}

@media (min-width: 768px) {
  /* tablets*/
  .contactPage {
    margin-top: 0%;
  }
}

@media (min-width: 1200px) {
  /* Laptops*/
  .contactPage {
    margin-top: 0%;
  }
}

@media (min-width: 1400px) {
  /* desktop*/
  .contactPage {
    margin-top: 0%;
  }
}
